<!--The whole content below can be removed with the new code.-->
<div class="heading">
  <h1>
    {{title}}
  </h1>
  <h2>
    {{header}}
  </h2>
</div>

<div class ="noteBoxOuter"> 
      <h3>Select The Root Note</h3>
      <div class="noteBox" *ngFor= "let note of RootNotes" [ngClass] = "note.class" (mouseenter)="playChord(note)" (mouseout)="stopChord(note)">
          {{note.name}}
      </div>
</div>

<br>

<div class ="octaveChanger">
  <h3>Select The Octave</h3>
  <button (mousedown)="Octave = Octave + 1">+</button>
    {{Octave}}
  <button (mousedown)="Octave = Octave - 1">-</button>
</div> 

<div class="chordType">
  <h3>Select The Chord Type</h3>
  <select [(ngModel)]="SelectedChordType">
      <option *ngFor = "let chordType of ChordTypes" [value] = "chordType">{{chordType}}</option>
  </select>
</div>

<div *ngIf= "ChordNotesOctave" class="chordNotes">
  <h3>Notes in the chord {{SelectedNote}}{{SelectedChordType}} on octave {{Octave}}</h3>
  <p><b>{{ChordNotesOctave}}</b><p>
</div>