<!--The whole content below can be removed with the new code.-->
<div class="heading">
  <h1>
    {{title}}
  </h1>
  <h2>
    {{header}}
  </h2>
</div>

<div class ="noteBoxOuter"> 
      <h3>Select The Root Note</h3>
      <div class="noteBox" *ngFor= "let note of RootNotes" [ngClass] = "note.class" (mouseenter)="playChord(note)" (mouseout)="stopChord(note)">
          {{note.name}}
      </div>
</div>

<br>

<div class ="octaveChanger">
  <h3>Select The Octave</h3>
  <button (mousedown)="Octave = Octave + 1">+</button>
    {{Octave}}
  <button (mousedown)="Octave = Octave - 1">-</button>
</div> 

<div class="chordType">
  <h3>Select The Chord Type</h3>
  <select [(ngModel)]="SelectedChordType">
      <option *ngFor = "let chordType of ChordTypes" [value] = "chordType">{{chordType}}</option>
  </select>
</div>

<div *ngIf= "ChordNotesOctave" class="chordNotes">
  <h3>Notes in the chord {{SelectedNote}}{{SelectedChordType}} on octave {{Octave}}</h3>
  <p><b>{{ChordNotesOctave}}</b><p>
</div>

<svg width="100%" viewBox="0 0 1680 150" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <g>
     <g id="octave-1">
        <rect id="note-24" class="piano-key white" width="40" height="150" x="0"></rect>
        <rect id="note-26" class="piano-key white" width="40" height="150" x="40"></rect>
        <rect id="note-28" class="piano-key white" width="40" height="150" x="80"></rect>
        <rect id="note-29" class="piano-key white" width="40" height="150" x="120"></rect>
        <rect id="note-31" class="piano-key white" width="40" height="150" x="160"></rect>
        <rect id="note-33" class="piano-key white" width="40" height="150" x="200"></rect>
        <rect id="note-35" class="piano-key white" width="40" height="150" x="240"></rect>
        <rect id="note-25" class="piano-key black" width="22" height="90" x="29"></rect>
        <rect id="note-27" class="piano-key black" width="22" height="90" x="69"></rect>
        <rect id="note-30" class="piano-key black" width="22" height="90" x="149"></rect>
        <rect id="note-32" class="piano-key black" width="22" height="90" x="189"></rect>
        <rect id="note-34" class="piano-key black" width="22" height="90" x="229"></rect>
     </g>
     <g id="octave-2">
        <rect id="note-36" class="piano-key white" width="40" height="150" x="280"></rect>
        <rect id="note-38" class="piano-key white" width="40" height="150" x="320"></rect>
        <rect id="note-40" class="piano-key white" width="40" height="150" x="360"></rect>
        <rect id="note-41" class="piano-key white" width="40" height="150" x="400"></rect>
        <rect id="note-43" class="piano-key white" width="40" height="150" x="440"></rect>
        <rect id="note-45" class="piano-key white" width="40" height="150" x="480"></rect>
        <rect id="note-47" class="piano-key white" width="40" height="150" x="520"></rect>
        <rect id="note-37" class="piano-key black" width="22" height="90" x="309"></rect>
        <rect id="note-39" class="piano-key black" width="22" height="90" x="349"></rect>
        <rect id="note-42" class="piano-key black" width="22" height="90" x="429"></rect>
        <rect id="note-44" class="piano-key black" width="22" height="90" x="469"></rect>
        <rect id="note-46" class="piano-key black" width="22" height="90" x="509"></rect>
     </g>
     <g id="octave-3">
        <rect id="note-48" class="piano-key white" width="40" height="150" x="560"></rect>
        <rect id="note-50" class="piano-key white" width="40" height="150" x="600"></rect>
        <rect id="note-52" class="piano-key white" width="40" height="150" x="640"></rect>
        <rect id="note-53" class="piano-key white" width="40" height="150" x="680"></rect>
        <rect id="note-55" class="piano-key white" width="40" height="150" x="720"></rect>
        <rect id="note-57" class="piano-key white" width="40" height="150" x="760"></rect>
        <rect id="note-59" class="piano-key white" width="40" height="150" x="800"></rect>
        <rect id="note-49" class="piano-key black" width="22" height="90" x="589"></rect>
        <rect id="note-51" class="piano-key black" width="22" height="90" x="629"></rect>
        <rect id="note-54" class="piano-key black" width="22" height="90" x="709"></rect>
        <rect id="note-56" class="piano-key black" width="22" height="90" x="749"></rect>
        <rect id="note-58" class="piano-key black" width="22" height="90" x="789"></rect>
     </g>
     <g id="octave-4">
        <rect id="note-60" class="piano-key white" width="40" height="150" x="840"></rect>
        <rect id="note-62" class="piano-key white" width="40" height="150" x="880"></rect>
        <rect id="note-64" class="piano-key white" width="40" height="150" x="920"></rect>
        <rect id="note-65" class="piano-key white" width="40" height="150" x="960"></rect>
        <rect id="note-67" class="piano-key white" width="40" height="150" x="1000"></rect>
        <rect id="note-69" class="piano-key white" width="40" height="150" x="1040"></rect>
        <rect id="note-71" class="piano-key white" width="40" height="150" x="1080"></rect>
        <rect id="note-61" class="piano-key black" width="22" height="90" x="869"></rect>
        <rect id="note-63" class="piano-key black" width="22" height="90" x="909"></rect>
        <rect id="note-66" class="piano-key black" width="22" height="90" x="989"></rect>
        <rect id="note-68" class="piano-key black" width="22" height="90" x="1029"></rect>
        <rect id="note-70" class="piano-key black" width="22" height="90" x="1069"></rect>
     </g>
     <g id="octave-5">
        <rect id="note-72" class="piano-key white" width="40" height="150" x="1120"></rect>
        <rect id="note-74" class="piano-key white" width="40" height="150" x="1160"></rect>
        <rect id="note-76" class="piano-key white" width="40" height="150" x="1200"></rect>
        <rect id="note-77" class="piano-key white" width="40" height="150" x="1240"></rect>
        <rect id="note-79" class="piano-key white" width="40" height="150" x="1280"></rect>
        <rect id="note-81" class="piano-key white" width="40" height="150" x="1320"></rect>
        <rect id="note-83" class="piano-key white" width="40" height="150" x="1360"></rect>
        <rect id="note-73" class="piano-key black" width="22" height="90" x="1149"></rect>
        <rect id="note-75" class="piano-key black" width="22" height="90" x="1189"></rect>
        <rect id="note-78" class="piano-key black" width="22" height="90" x="1269"></rect>
        <rect id="note-80" class="piano-key black" width="22" height="90" x="1309"></rect>
        <rect id="note-82" class="piano-key black" width="22" height="90" x="1349"></rect>
     </g>
     <g id="octave-6">
        <rect id="note-84" class="piano-key white" width="40" height="150" x="1400"></rect>
        <rect id="note-86" class="piano-key white" width="40" height="150" x="1440"></rect>
        <rect id="note-88" class="piano-key white" width="40" height="150" x="1480"></rect>
        <rect id="note-89" class="piano-key white" width="40" height="150" x="1520"></rect>
        <rect id="note-91" class="piano-key white" width="40" height="150" x="1560"></rect>
        <rect id="note-93" class="piano-key white" width="40" height="150" x="1600"></rect>
        <rect id="note-95" class="piano-key white" width="40" height="150" x="1640"></rect>
        <rect id="note-85" class="piano-key black" width="22" height="90" x="1429"></rect>
        <rect id="note-87" class="piano-key black" width="22" height="90" x="1469"></rect>
        <rect id="note-90" class="piano-key black" width="22" height="90" x="1549"></rect>
        <rect id="note-92" class="piano-key black" width="22" height="90" x="1589"></rect>
        <rect id="note-94" class="piano-key black" width="22" height="90" x="1629"></rect>
     </g>
  </g>
</svg>